// --------------------
// Definition of variables
$primary: #2c3336;


* {
  margin: 0;
  padding: 0;
}

// ----------------------------------------
// To install Boostrap:
// 1) Run in the client folder: $ npm i bootstrap
// 2) Import bootstrap with the following line
// @import 'bootstrap/scss/bootstrap';
// ----------------------------------------


// --------------------
// Style reusable for all components
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.info {
  margin: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  display: inline-block;
  background-color: #5776e9;
  color: white;
}

.info.info-danger {
  background-color: #e73f3f;
}

// --------------------
// Style for App component
.App {
  text-align: center;

  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
  }

  .App-header {
    background-color: $primary;
    padding: 20px;
    color: white;

    a {
      color: white;
      padding: 0 5px;
      text-decoration: unset;
    }

    a.active {
      font-weight: bold;
    }
  }

  .App-title {
    font-size: 1.5em;
  }

  .App-intro {
    font-size: large;
  }

  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }
}

// --------------------
// Style for Home component
.Home {
  display: flex;
  p {
    font-size: 1.2em;
  }
}

// --------------------

// $primary-color: #673AB7;






// ------------------


.Navbar {
  height: 80px;
  background: blue;
  color: white;
  text-align: center;
}


.Repo {
  // background-color: #5776e9;
  // color: white;
  // height: 100px;
  // width: 80%;
  // margin: 20px auto;
  // border-radius: 15px;

}


.Pull {
  // background-color: #5776e9;
  // color: white;
  // height: 100px;
    width: 100%;
    background: white;
  // margin: 20px auto;
  // border-radius: 15px;

}

.speech-bubble {
  width: 800px;
  height: 450px
}

.RepoList {
  width: 500px;
  height: calc(100vh - 56px);
  overflow-y: scroll;
  // background: #8ee4af;

}

.pull-table {
  width: 60%;
  margin: 0 auto;
  margin-top: 40px;
}


.PullsPage {
  height: calc(100vh - 56px);
  width: 150%;
  background: #FFFBF3;
  overflow-y: scroll;

}


// ******************** Comment Container

input:focus {
  outline:none;
}

.comment-input {
  width: 95%;
  border-radius: 10px;
  border: solid #5cdb95 2px;
  padding: 0 10px 0 10px;
}


.Comments-container {
  width: 60%;
  margin: 0 auto;
  background: white;
  height: 300px;
  overflow-y: scroll;

  border-radius: 20px 20px 20px 20px;
  padding: 20px 20px 20px 20px;


}

.comment {


}

.comment img{
  object-fit: cover;
  width: 30px;
  height: 30px;
  border-radius: 4px;
}

.comment-name {
  font-size: 10px !important;
  margin-left: 5px;
}
.comment-date {
  font-size: 10px !important;
  margin-left: 10px;
  
}

.comment-header {
  display: flex;
}

.comment-text {
  text-align: left;
  font-size: 14px !important;
}




// .CommentsContainer {
//   width: 100%;
//   height: 400px;
//   overflow-y: scroll;
// }


// .Comment {
//   text-align: left;

// }

// .Comment-header {
//   padding-left: 10px;
//   display: flex;
//   height: 50px;
//   background-color: rgba(100, 0, 0, .3);
//   align-items: center;

// }

// .Comment-header div{
//   display: flex;
 

// }

// .Comment-header img{
//   width: 30px;
//   border-radius: 50%;
//   object-fit: cover;
//   height: 30px;

// }

// .Comment-name {
//   margin: 5px;
//   font-size: 10px !important;
// }

// .Comment-date {
//   margin: 5px;
//   font-size: 10px !important;

// }

.signed-out-container {
  width: 80%;
  margin: 0 auto;
  padding: 100px 0;
}

.Img-container {
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
  height: 300px;
}

.Img-container div {
  display: flex;
  width: 300px;
  justify-content: center;
  align-items: center;
}

.Img-container div img {
  width: 100%;
}
.logo-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  width: 300px;
  height: 300px;
}



.signin-modal {
  background: darkgrey;
  width: 300px;
  height: 200px;
}


.table {
  background:white;
}

.Profile {
  background: #FFFBF3;
}


.profile-container {
  width: 70%;
  margin: 0 auto;
}

.profile-header {
  display: flex;
  width: 70%;
  margin: 0 auto;
}